body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("../images/charity-doodle-vector-people-donating-things_53876-143486.webp")
    no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.title h1 {
  text-align: -webkit-center;
  color: #333;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.container {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.90);
  padding: 20px;
  border-radius: 20px;
}
.h1-container {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.90);
  padding: 20px;
  border-radius: 10px;
}
.form-container {
  flex: 1 1 100%;
  max-width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.image-container {
  flex: 1 1 100%;
  background: url("/images/charity-doodle-vector-people-donating-things_53876-143486.webp")
    no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .form-container,
  .image-container {
    flex-basis: 100%;
    max-width: none;
  }

  .form-container {
    margin-bottom: 20px;
  }
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

textarea {
  width: 100%;
  resize: vertical;
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-btn {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}

.card {
  margin-bottom: 20px;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.contact {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.contact a {
  color: #007bff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.signature {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.container {
  position: relative;
  margin-top: 50px; /* Ajusta la distancia entre el carrusel y el formulario */
}

/*Carrusel*/
#myCarousel {
  position: fixed;
  top: 50px; /* Ajusta la posición vertical del carrusel */
  width: 100%; /* Ajusta el ancho del carrusel */
  max-height: 500px; /* Establece una altura máxima para el carrusel */
  z-index: 999; /* Ajusta el índice z para que el carrusel aparezca por encima de otros elementos */
}
/*Ajustar el padding*/
.pd5{
  padding: 5%;
}
/*Ajustar la imagen arriba*/
.mmg5{
  padding: 3%;
  margin-top:-6%;
}

/*Copyright*/
div.copyright {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #555;
}

/*Redes sociales*/

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 50px;
  height: 50px;
}

@media (max-width: 480px) {
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 5px;
  }
  
  .social-icons img {
    width: 5px;
    height: 5px;
  }
}
